* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: #333333;
}

.videoBackground {
    position: relative;
    height: 100vh;
}

.videoBackground video {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -2;
    position:absolute;
    height: 100vh;
}

.textFloat {
    color: #ffffff;
}

.txtMain {
    position:absolute;
    left: 5vw;
    top: 4vh;
    z-index: 1;
}

.txtMain p{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.25vh;
}

.txtMain span{
    display: inline-block;
}

.txtFade1{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 5.75s;
}

.txtFade2{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 6s;
}

.txtFade3{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 6.25s;
}

.txtFade4{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 6.5s;
}

.txtFade5{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 6.75s;
}

.txtFade6{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 7s;
}

.txtFade7{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 7.25s;
}

.txtFade8{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 7.5s;
}

.txtFade9{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 7.25s;
}

@keyframes fadeInScale {
    from {
        filter: blur(10px);
        opacity: 0;
        transform: scale(2);
    }
    to {
        filter: blur(0px);
        opacity: 1;
        transform: scale(1);
    }

}

.txtFloatLima {
    position:absolute;
    left: 15vw;
    top: 72vh;
    z-index: -1;
}

.flotaIzquierda{
    display: inline-block;
    font-size: 1.9vh;
    opacity: 0;
    transform: translateX(100%);
    animation: fadeInMoveIzq 2.5s ease-in-out forwards;
    animation-delay: 0;
}

@keyframes fadeInMoveIzq {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.txtFloatNY {
    position:absolute;
    right: 15vw;
    top: 36vh;
    z-index: -1;
}

.flotaDerecha{
    display: inline-block;
    font-size: 1.9vh;
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeInMoveDer 3s ease-in-out forwards;
    animation-delay: 2.5s;
}

@keyframes fadeInMoveDer {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }

}

.textCenter {
    flex-direction: column;
    color: #ffffff;
    margin-top: 48vh;
}

.imgCenter, .textSpan {
    display: flex;
    justify-content: center;
}

.imgCenter img{
    width: 30vh;
}

.textSpan {
    margin-top: 2.4vh;
}

.textSpan p{
    font-size: 2.2vh;
}

.logosFinales{
    position:absolute;
    right: 3vw;
    bottom: 5vh;
    z-index: -1;
}

.logosFinales img{
    display: inline-block;
    margin: 0 1vw;
    max-width: 6vw;
    max-height: 8.5vh;
}


@media (min-aspect-ratio: 4 / 1){
    .txtFloatLima {
        left: 25vw;
    }

    .txtFloatNY {
        right: 25vw;
    }

    .logosFinales img{
        margin: 0 0.6vw !important;
        max-width: 5vw !important;
        max-height: 12vh !important;
    }
}

@media (min-aspect-ratio: 5 / 2){
    .txtMain{
        top: 6vh;
    }

    .txtMain p{
        font-size: 0.6vw;
    }

    .flotaIzquierda{
        font-size: 0.9vw;
    }

    .flotaDerecha{
        font-size: 0.9vw;
    }

    .textCenter {
        margin-top: 42vh;
    }

    .imgCenter img{
        width: 16vw;
    }

    .textSpan p{
        font-size: 1vw;
    }

    .logosFinales{
        bottom: 9vh;
    }

    .logosFinales img{
        margin: 0 0.75vw;
        max-width: 5.5vw;
        max-height: 9.5vh;
    }
}

@media (max-aspect-ratio: 4 / 3){
    .logosFinales img{
        margin: 0 1.2vw;
        max-width: 7.5vw;
        max-height: 7vh;
    }
}

@media (max-aspect-ratio: 1 / 1){
    .txtMain {
        left: 6vw;
        top: 3vh;
    }

    .txtMain p{
        font-size: 1.2vh;
    }
    
    .flotaIzquierda{
        font-size: 2vh;
    }

    .flotaDerecha{
        font-size: 2vh;
    }

    .txtFloatNY {
        top: 32vh;
        right: 14vw;
    }

    .txtFloatLima {
        top: 68vh;
        left: 14vw;
    }

    .textCenter {
        margin-top: 46vh;
    }

    .textSpan span{
        font-size: 2.4vh;
    }

    .logosFinales{
        bottom: 10vh;
    }

    .logosFinales img{
        margin: 0 1.5vw;
        max-width: 12vh;
        max-height: 7vh;
    }
}

@media (max-aspect-ratio: 5 / 8){
    .txtFloatNY {
        top: 36vh;
    }

    .txtFloatLima {
        top: 66vh;
    }

    .imgCenter img{
        width: 60vw;
    }

    .logosFinales{
        right: 10vw;
        bottom: 16vh;
    }
}

@media (max-aspect-ratio: 1 / 2){
    .txtFloatLima {
        left: 10vw;
    }

    .txtFloatNY {
        right: 10vw;
    }

    .imgCenter img{
        width: 75vw;
    }
}