* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: #333333;
}

.videoBackground {
    position: relative;
    height: 100vh;
}

.videoBackground video {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -2;
    position:absolute;
    height: 100vh;
}

.textFloat {
    color: #ffffff;
}

.txtMain {
    position:absolute;
    left: 4vw;
    top: 5vh;
    z-index: -1;
}

.txtMain p{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.4vh;
}

.txtMain span{
    display: inline-block;
}

.txtFade1{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 0s;
}

.txtFade2{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 0.3s;
}

.txtFade3{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 0.6s;
}

.txtFade4{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 1s;
}

.txtFade5{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 1.3s;
}

.txtFade6{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 1.6s;
}

.txtFade7{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 2s;
}

.txtFade8{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 2.3s;
}

.txtFade9{
    opacity: 0;
    transform: scale(2);
    filter: blur(10px);
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 2.6s;
}

@keyframes fadeInScale {
    from {
        filter: blur(10px);
        opacity: 0;
        transform: scale(2);
    }
    to {
        filter: blur(0px);
        opacity: 1;
        transform: scale(1);
    }

}

.txtFloatLima {
    position:absolute;
    left: 12vw;
    top: 72vh;
    z-index: -1;
}

.flotaIzquierda{
    display: inline-block;
    font-size: 1.6vh;
    opacity: 0;
    transform: translateX(100%);
    animation: fadeInMoveIzq 4s ease-in-out forwards;
    animation-delay: 4;
}

@keyframes fadeInMoveIzq {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.txtFloatNY {
    position:absolute;
    left: 80vw;
    top: 36vh;
    z-index: -1;
}

.flotaDerecha{
    display: inline-block;
    font-size: 1.6vh;
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeInMoveDer 4s ease-in-out forwards;
    animation-delay: 4;
}

@keyframes fadeInMoveDer {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }

}

.textCenter {
    flex-direction: column;
    color: #ffffff;
    margin-top: 48vh;
}

.imgCenter, .textSpan {
    display: flex;
    justify-content: center;
}

.imgCenter img{
    width: 30vh;
}

.textSpan {
    margin-top: 2.2vh;
}

.textSpan span{
    font-size: 2.2vh;
}

@media (min-aspect-ratio: 4 / 1){
    .txtFloatLima {
        left: 20vw;
    }

    .txtFloatNY {
        left: 70vw;
    }
}

@media (min-aspect-ratio: 5 / 2){
    
    .txtMain p{
        font-size: 0.6vw;
    }

    .flotaIzquierda{
        font-size: 0.8vw;
    }

    .flotaDerecha{
        font-size: 0.8vw;
    }

    .textCenter {
        margin-top: 42vh;
    }

    .imgCenter img{
        width: 16vw;
    }

    .textSpan span{
        font-size: 1vw;
    }
}

@media (max-aspect-ratio: 1 / 1){
    .txtFloatNY {
        left: 75vw;
    }
    .txtFloatLima {
        left: 17vw;
    }
}

@media (max-aspect-ratio: 3 / 4){
    .txtFloatLima {
        top: 84vh;
    }

    .txtFloatNY {
        top: 44vh;
    }

    .textCenter {
        margin-top: 56vh;
    }
}

@media (max-aspect-ratio: 5 / 8){
    .imgCenter img{
        width: 60vw;
    }
}

@media (max-aspect-ratio: 1 / 2){
    .txtFloatLima {
        top: 84vh;
    }

    .txtFloatNY {
        top: 44vh;
    }

    .imgCenter img{
        width: 75vw;
    }

    .textCenter {
        margin-top: 56vh;
    }
}